body {
    background-color: hsl(216, 50%, 16%);
    font-family: 'Outfit', sans-serif;

    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.rectangulo {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 60vh;
    background-color:hsl(217, 54%, 11%);
    border-radius: 10px;
}

.imagen {
    display: flex;
    justify-content: center;
    margin: 45px;
}

.nft {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.ojo {
    width: 250px;
    height: 250px; 
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background-color: #19a7f91e;
    text-align: center;
    line-height: 290px;
    
}



.ojo:hover {
    opacity: 0.4;
    cursor: pointer;
}

.texto {
    margin:0 3rem;
    margin-top: -3rem;
    
    
}

.texto h2 {
    color: azure;
}

.texto p {
    color: #667a9b;
    margin-top: -10px;
    font-size: 15px;
}

.prize {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 3rem;
    
}

.datos{
    display: inline-flex;
    font-size: 12px;
}

#eth {
    width: 11px;
    height: 18px;
    margin-right: 5px;
}

.prize p{
    color: #19f9f8;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 3rem;
}

#reloj {
    margin-right: 5px;
}

.time p {
    color: #7d93b3;
}

hr{
    width: 250px;
    border: 1px solid #7d93b371;
}

.credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 3rem;
  
    
}

#foto {
    width: 30px;
    height: 30px;
    align-items: center;
}

.credits p{
    color:#667a9b;
    margin-left: 5px;
    height: 20px;
}

.bold {
    color: white;
    font-weight: normal;
}

@media only screen and (max-width: 1343px) {
    .rectangulo {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 65vh;
        background-color:hsl(217, 54%, 11%);
        border-radius: 10px;
    }
    
  }


@media only screen and (max-width: 1024px) {
    .rectangulo {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 65vh;
        background-color:hsl(217, 54%, 11%);
        border-radius: 10px;
    }
    
  }
@media only screen and (max-width: 425px) {
    .rectangulo {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 65vh;
        background-color:hsl(217, 54%, 11%);
        border-radius: 10px;
    }
    
  }
